<div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Musica</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/"><i class="bi bi-house-door"></i> Home</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#"><i class="bi bi-people"></i> Artist</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#"><i class="bi bi-music-note-beamed"></i> Release</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#"><i class="bi bi-mic"></i> Podcasts</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#"><i class="bi bi-calendar-week"></i> Events</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#"><i class="bi bi-newspaper"></i> News</a>
                
                </div>
                
            </div>

<!--<div class="audio-player">
  <div class="timeline">
    <div class="progress"></div>
  </div>
  <div class="controls">
    <div class="play-container">
      <div class="toggle-play play">
    </div>
    </div>
    <div class="time">
      <div class="current">0:00</div>
      <div class="divider">/</div>
      <div class="length"></div>
    </div>
    <div class="name">Music Song</div>    credit for icon to https://saeedalipoor.github.io/icono/ --
    <div class="volume-container">
      <div class="volume-button">
        <div class="volume icono-volumeMedium"></div>
      </div>
      
      <div class="volume-slider">
        <div class="volume-percentage"></div>
      </div>
    </div>
  </div>
</div>-->
